[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = false
name = "pytorch"

[packages]
prettytable = "*"
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
thop = "*"
pillow = "*"
scikit-image = "*"
einops = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
